{% extends "layout.html" %}

{% block title %}
    Select Text
{% endblock %}

{% block main %}
    <!-- Choose which text to type -->
    <form action ="/test" method="post">
        <div class="form-group">
            <select name ="selected_text" id="selected_text">
                {% for title in titles %}
                    <option>{{ title }}</option>
                {% endfor %}
            </select>
        </div>
        <input class="btn btn-primary" type="submit" value="Select">
    </form>

{% endblock %}